html{color:#000;
	background:#fff; 
	padding:20px 0;
	font: 12px/18px "맑은 고딕", "Malgun Gothic";
}

table,td,th{border: 1px solid gray; text-align: center; margin:0 auto;}
th.gray{background-color: #BDBDBD;}

td.red{background: #F15F5F;}
td.orange{background: #F29661;}
td.yellow{background: #E5D85C;}
td.lightgreen{background: #86E57F;}
td.skyblue{background: #6799FF;}
td.blue{background: #6B66FF;}
td.purple{background: #A566FF;}
td.pink{background: #F361A6;}
td.marine{background: #5CD1E5;}

h4{font-size:110%; text-align:center;}
h2{font-size:150%; text-align:center;}

#wrap {width:600px; margin:0 auto;}
#button{margin-left: 280px; margin-top: 10px;}

.wrapper {text-align: center;}