html{color:#000;
	background:#fff; 
	padding:20px 0;
	font: 12px/18px "맑은 고딕", "Malgun Gothic";
}
table,td,th{border: 1px solid gray; margin:0 auto}
th.purple1{background-color: #2A0066; color: white;}
th.purple2{background-color: #3F0099; color: white;}
th.purple3{background-color: #8041D9;}
th.purple4{background-color: #A566FF;}
th.purple5{background-color: #D1B2FF;}
th.purple6{background-color: #E8D9FF;}

h4{font-size:110%; text-align:center; font-weight: bold;}
h2{font-size:150%; text-align:center; font-weight: bold;}
.wrapper {
    text-align: center;
}