html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "맑은 고딕";
}
h1{font-size: 150%;}
h2{font-size: 12px; font-weight: lighter;}

#button{margin-left: 200px}
#header {
	width:85%; height:230px; background-color:#fff;
	border: 5px double #D1B2FF;
	
	/* 외곽선 둥글게 만들기, IE지원 안함 */
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
	border-radius: 15px 15px 15px 15px;
}

#wrap {width:500px;
			margin:0 auto;
			background-color:#fff
}

#left{float:left; margin-left: 10px; margin-top: 13px;}

#left a{color:#888; text-align:center; margin:5px 30px;}

#right_top{margin:25px 0 0 10px;}

#right_middle a{text-decoration:none; text-align: left;}

span.gray{color:#888; margin:0 5px 0 0; font-weight: bold;}

.wrapper {text-align: center;}

